[run]
source =
    users
    quizzes
    core

omit =
    */migrations/*
    */tests/*
    manage.py
    core/asgi.py
    core/wsgi.py
    core/settings*.py

[report]
show_missing = True
fail_under = 100